version: "3.9"
services:
  backend:
    build: ./backend
    container_name: bp-backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: bp-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=http://localhost:5001
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
